# 데이터, 패키지 로드

In [1]:
# 패키지 로드 
import pandas as pd 
import numpy as np
import datetime

In [2]:
# 데이터 로드 
df_stock= pd.read_csv("../../data/Stock/stock+tech_sm.csv")
df_trend= pd.read_csv("../../data/Trend/trend_sm.csv")
df_sentiment= pd.read_excel("../../data/News/sentiment_sm.xlsx")
df_event= pd.read_excel("../../data/News/event_sm.xlsx")

In [3]:
df_stock.info() # 주가+기술지표 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123 entries, 0 to 122
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    123 non-null    object
 1   Open    123 non-null    int64
 2   High    123 non-null    int64
 3   Low     123 non-null    int64
 4   Close   123 non-null    int64
 5   Volume  123 non-null    int64
 6   Change  123 non-null    float64
 7   MACD    123 non-null    float64
 8   Signal  123 non-null    float64
 9   PSAR    123 non-null    float64
 10  upper   123 non-null    float64
 11  middle  123 non-null    float64
 12  lower   123 non-null    float64
 13  SlowK   123 non-null    float64
 14  SlowD   123 non-null    float64
 15  ROC     123 non-null    float64
 16  OBV     123 non-null    float64
 17  FI      123 non-null    float64
dtypes: float64(12), int64(5), object(1)
memory usage: 17.4+ KB

In [4]:
df_trend.info() # 트렌드(유튜브, 네이버) 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               181 non-null    object
 1   keyword            181 non-null    float64
 2   view_log_like_sum  181 non-null    float64
 3   view_log_like_avg  181 non-null    float64
 4   count              181 non-null    float64
 5   trend              181 non-null    float64
dtypes: float64(5), object(1)
memory usage: 8.6+ KB

In [5]:
df_sentiment.info() # 감정지수(뉴스) 변수 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           125 non-null    datetime64[ns]
 1   SENTIMENT_SUM  125 non-null    float64
 2   DAY            125 non-null    object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 3.1+ KB

In [6]:
df_event.info() # 이벤트 변수 데이터

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           42 non-null     datetime64[ns]
 1   SENTIMENT_SUM  42 non-null     float64
 2   DAY            42 non-null     object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 1.1+ KB

# DATE 변수타입 통일

In [7]:
# df_stock의 'Date' 열을 datetime 형식으로 변환
df_stock['Date'] = pd.to_datetime(df_stock['Date'])

# df_trend의 'date' 열을 datetime 형식으로 변환
df_trend['date'] = pd.to_datetime(df_trend['date'])

# DATE 변수명 통일

In [8]:
# df_stock의'Date' 열의 이름을 'DATE'로 변경
df_stock = df_stock.rename(columns={'Date': 'DATE'})

# df_trend의'date' 열의 이름을 'DATE'로 변경
df_trend = df_trend.rename(columns={'date': 'DATE'})

# df_trend 데이터의 DATE 수정

### 일자별 요일 지정
향후 분석에 용이하도록 DATE_NEW 일자를 기준으로 일자별 요일을 지정해줌.
- 2023년 1월은 일요일부터 시작함

In [9]:
weekday_dict = {0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'}

In [10]:
day_list = []

for i in range(len(df_trend)):
    day_list.append(weekday_dict[df_trend["DATE"][i].weekday()])

df_trend["DAY"] = day_list
df_trend.groupby("DAY").size()

DAY
금    26
목    26
수    26
월    26
일    26
토    25
화    26
dtype: int64

In [11]:
#요일 배정이 잘 되었는지 확인
for day in weekday_dict.values():
    print(day, df_trend[df_trend["DAY"] == day]["DATE"].unique())

월 ['2023-01-02T00:00:00.000000000' '2023-01-09T00:00:00.000000000'
 '2023-01-16T00:00:00.000000000' '2023-01-23T00:00:00.000000000'
 '2023-01-30T00:00:00.000000000' '2023-02-06T00:00:00.000000000'
 '2023-02-13T00:00:00.000000000' '2023-02-20T00:00:00.000000000'
 '2023-02-27T00:00:00.000000000' '2023-03-06T00:00:00.000000000'
 '2023-03-13T00:00:00.000000000' '2023-03-20T00:00:00.000000000'
 '2023-03-27T00:00:00.000000000' '2023-04-03T00:00:00.000000000'
 '2023-04-10T00:00:00.000000000' '2023-04-17T00:00:00.000000000'
 '2023-04-24T00:00:00.000000000' '2023-05-01T00:00:00.000000000'
 '2023-05-08T00:00:00.000000000' '2023-05-15T00:00:00.000000000'
 '2023-05-22T00:00:00.000000000' '2023-05-29T00:00:00.000000000'
 '2023-06-05T00:00:00.000000000' '2023-06-12T00:00:00.000000000'
 '2023-06-19T00:00:00.000000000' '2023-06-26T00:00:00.000000000']
화 ['2023-01-03T00:00:00.000000000' '2023-01-10T00:00:00.000000000'
 '2023-01-17T00:00:00.000000000' '2023-01-24T00:00:00.000000000'
 '2023-01-31T00:00:00.000000000' '2023-02-07T00:00:00.000000000'
 '2023-02-14T00:00:00.000000000' '2023-02-21T00:00:00.000000000'
 '2023-02-28T00:00:00.000000000' '2023-03-07T00:00:00.000000000'
 '2023-03-14T00:00:00.000000000' '2023-03-21T00:00:00.000000000'
 '2023-03-28T00:00:00.000000000' '2023-04-04T00:00:00.000000000'
 '2023-04-11T00:00:00.000000000' '2023-04-18T00:00:00.000000000'
 '2023-04-25T00:00:00.000000000' '2023-05-02T00:00:00.000000000'
 '2023-05-09T00:00:00.000000000' '2023-05-16T00:00:00.000000000'
 '2023-05-23T00:00:00.000000000' '2023-05-30T00:00:00.000000000'
 '2023-06-06T00:00:00.000000000' '2023-06-13T00:00:00.000000000'
 '2023-06-20T00:00:00.000000000' '2023-06-27T00:00:00.000000000']
수 ['2023-01-04T00:00:00.000000000' '2023-01-11T00:00:00.000000000'
 '2023-01-18T00:00:00.000000000' '2023-01-25T00:00:00.000000000'
 '2023-02-01T00:00:00.000000000' '2023-02-08T00:00:00.000000000'
 '2023-02-15T00:00:00.000000000' '2023-02-22T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-03-08T00:00:00.000000000'
 '2023-03-15T00:00:00.000000000' '2023-03-22T00:00:00.000000000'
 '2023-03-29T00:00:00.000000000' '2023-04-05T00:00:00.000000000'
 '2023-04-12T00:00:00.000000000' '2023-04-19T00:00:00.000000000'
 '2023-04-26T00:00:00.000000000' '2023-05-03T00:00:00.000000000'
 '2023-05-10T00:00:00.000000000' '2023-05-17T00:00:00.000000000'
 '2023-05-24T00:00:00.000000000' '2023-05-31T00:00:00.000000000'
 '2023-06-07T00:00:00.000000000' '2023-06-14T00:00:00.000000000'
 '2023-06-21T00:00:00.000000000' '2023-06-28T00:00:00.000000000']
목 ['2023-01-05T00:00:00.000000000' '2023-01-12T00:00:00.000000000'
 '2023-01-19T00:00:00.000000000' '2023-01-26T00:00:00.000000000'
 '2023-02-02T00:00:00.000000000' '2023-02-09T00:00:00.000000000'
 '2023-02-16T00:00:00.000000000' '2023-02-23T00:00:00.000000000'
 '2023-03-02T00:00:00.000000000' '2023-03-09T00:00:00.000000000'
 '2023-03-16T00:00:00.000000000' '2023-03-23T00:00:00.000000000'
 '2023-03-30T00:00:00.000000000' '2023-04-06T00:00:00.000000000'
 '2023-04-13T00:00:00.000000000' '2023-04-20T00:00:00.000000000'
 '2023-04-27T00:00:00.000000000' '2023-05-04T00:00:00.000000000'
 '2023-05-11T00:00:00.000000000' '2023-05-18T00:00:00.000000000'
 '2023-05-25T00:00:00.000000000' '2023-06-01T00:00:00.000000000'
 '2023-06-08T00:00:00.000000000' '2023-06-15T00:00:00.000000000'
 '2023-06-22T00:00:00.000000000' '2023-06-29T00:00:00.000000000']
금 ['2023-01-06T00:00:00.000000000' '2023-01-13T00:00:00.000000000'
 '2023-01-20T00:00:00.000000000' '2023-01-27T00:00:00.000000000'
 '2023-02-03T00:00:00.000000000' '2023-02-10T00:00:00.000000000'
 '2023-02-17T00:00:00.000000000' '2023-02-24T00:00:00.000000000'
 '2023-03-03T00:00:00.000000000' '2023-03-10T00:00:00.000000000'
 '2023-03-17T00:00:00.000000000' '2023-03-24T00:00:00.000000000'
 '2023-03-31T00:00:00.000000000' '2023-04-07T00:00:00.000000000'
 '2023-04-14T00:00:00.000000000' '2023-04-21T00:00:00.000000000'
 '2023-04-28T00:00:00.000000000' '2023-05-05T00:00:00.000000000'
 '2023-05-12T00:00:00.000000000' '2023-05-19T00:00:00.000000000'
 '2023-05-26T00:00:00.000000000' '2023-06-02T00:00:00.000000000'
 '2023-06-09T00:00:00.000000000' '2023-06-16T00:00:00.000000000'
 '2023-06-23T00:00:00.000000000' '2023-06-30T00:00:00.000000000']
토 ['2023-01-07T00:00:00.000000000' '2023-01-14T00:00:00.000000000'
 '2023-01-21T00:00:00.000000000' '2023-01-28T00:00:00.000000000'
 '2023-02-04T00:00:00.000000000' '2023-02-11T00:00:00.000000000'
 '2023-02-18T00:00:00.000000000' '2023-02-25T00:00:00.000000000'
 '2023-03-04T00:00:00.000000000' '2023-03-11T00:00:00.000000000'
 '2023-03-18T00:00:00.000000000' '2023-03-25T00:00:00.000000000'
 '2023-04-01T00:00:00.000000000' '2023-04-08T00:00:00.000000000'
 '2023-04-15T00:00:00.000000000' '2023-04-22T00:00:00.000000000'
 '2023-04-29T00:00:00.000000000' '2023-05-06T00:00:00.000000000'
 '2023-05-13T00:00:00.000000000' '2023-05-20T00:00:00.000000000'
 '2023-05-27T00:00:00.000000000' '2023-06-03T00:00:00.000000000'
 '2023-06-10T00:00:00.000000000' '2023-06-17T00:00:00.000000000'
 '2023-06-24T00:00:00.000000000']
일 ['2023-01-01T00:00:00.000000000' '2023-01-08T00:00:00.000000000'
 '2023-01-15T00:00:00.000000000' '2023-01-22T00:00:00.000000000'
 '2023-01-29T00:00:00.000000000' '2023-02-05T00:00:00.000000000'
 '2023-02-12T00:00:00.000000000' '2023-02-19T00:00:00.000000000'
 '2023-02-26T00:00:00.000000000' '2023-03-05T00:00:00.000000000'
 '2023-03-12T00:00:00.000000000' '2023-03-19T00:00:00.000000000'
 '2023-03-26T00:00:00.000000000' '2023-04-02T00:00:00.000000000'
 '2023-04-09T00:00:00.000000000' '2023-04-16T00:00:00.000000000'
 '2023-04-23T00:00:00.000000000' '2023-04-30T00:00:00.000000000'
 '2023-05-07T00:00:00.000000000' '2023-05-14T00:00:00.000000000'
 '2023-05-21T00:00:00.000000000' '2023-05-28T00:00:00.000000000'
 '2023-06-04T00:00:00.000000000' '2023-06-11T00:00:00.000000000'
 '2023-06-18T00:00:00.000000000' '2023-06-25T00:00:00.000000000']

- **설명**
- '요일' 변수는 각 뉴스가 영향을 미치는 요일을 의미한다 
- ex1) 요일이 '금'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터 
- ex2) 요일이 '토'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터

* **토요일, 일요일 데이터 전처리**
- 토요일과 일요일 데이터는 ***월요일*** 주가에 영향을 미친다
- 따라서 요일 변수가 토요일, 일요일로 설정된 데이터들은 그 다음주 월요일 데이터로 간주하여 날짜 및 요일 변수를 변경한다

In [12]:
 for i in range(len(df_trend)):
    if (df_trend['DAY'].iloc[i] == '토'): # 토요일 뉴스기사라면, 
        df_trend['DATE'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
        df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
    if (df_trend['DAY'].iloc[i] == '일'): # 일요일 뉴스기사라면, 
        df_trend['DATE'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
        df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/3245083037.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DATE'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/3245083037.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/3245083037.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DATE'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/3245083037.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trend['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

### 월요일 데이터들의 변수 값 평균 구하기

- df_trend에서 DAY 변수의 값이 '월'인 행들은 DATE 변수로 GROUPBY 한 뒤 keyword, view_log_like_sum, view_log_like_avg, count, trend 변수의 평균값을 구할 것

In [13]:
# 'DAY' 변수가 '월'인 행 필터링
df_trend_monday = df_trend[df_trend['DAY'] == '월']
df_trend_notmonday = df_trend[df_trend['DAY'] != '월']

# 'DATE' 변수로 그룹화하여 변수들의 평균값 구하기
df_trend_monday = df_trend_monday.groupby('DATE').agg({
    'keyword': 'first',  # 첫 번째 키워드 선택
    'view_log_like_sum': 'mean',
    'view_log_like_avg': 'mean',
    'count': 'mean',
    'trend': 'mean',
    'DAY': 'first'
}).reset_index()

# 결과 출력
df_trend_monday.head()

,DATE,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY
0,2023-01-02,24.96469,1.511554e+08,3.023108e+07,2.500000,12.280464,월
1,2023-01-09,14.64458,0.000000e+00,0.000000e+00,0.000000,2.660563,월
2,2023-01-16,14.44341,8.408403e+07,7.676136e+07,2.333333,19.963843,월
3,2023-01-23,16.27777,0.000000e+00,0.000000e+00,0.000000,2.664408,월
4,2023-01-30,13.87243,1.193401e+08,1.193401e+08,0.666667,14.888487,월

In [14]:
# 월요일 데이터, 월요일이 아닌 데이터 다시 합치기 
df_trend = pd.concat([df_trend_monday, df_trend_notmonday], axis=0)

# 행 인덱스 초기화
df_trend = df_trend.reset_index(drop=True)

# 'DATE' 변수로 정렬
df_trend = df_trend.sort_values(by='DATE')

In [15]:
df_trend.nunique()

DATE                 130
keyword              130
view_log_like_sum     82
view_log_like_avg     82
count                 27
trend                130
DAY                    5
dtype: int64

# df_trend, df_sentiment, df_event 의 날짜 변수를 df_stock 에 맞추기

##  df_stock와 df_trend

In [16]:
set_trend_dates = set(df_trend['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_trend_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_trend와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_trend와 df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-05-29 00:00:00'), Timestamp('2023-03-01 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-05-05 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-01-23 00:00:00'), Timestamp('2023-01-24 00:00:00')}

- 1/23 : 설 연휴
- 1/24 : 설 연휴 
- 3/1 : 삼일절
- 5/1 : 노동절
- 5/5 : 어린이날
- 5/29 : 석가탄신일
- 6/6 : 현충일 
- 해당 일자들은 주식 시장이 개장하지 않는 일자임
- 따라서 df_trend 에서 1/23, 1/24, 1/25에 대한 변수들의 값을 더한 뒤 평균을 내주는 식의 방법을 사용함

In [17]:
# 1월 23일, 1월 24일, 1월 25일 데이터 필터링
selected_dates = ['2023-01-23', '2023-01-24', '2023-01-25']
filtered_df = df_trend[df_trend['DATE'].isin(selected_dates)]

# 1월 23일, 1월 24일 데이터 삭제
df_trend = df_trend[df_trend['DATE'] != '2023-01-23']
df_trend = df_trend[df_trend['DATE'] != '2023-01-24']

# 1월 25일 데이터를 평균값으로 대체
average_values = filtered_df.mean(numeric_only = True)
df_trend.loc[df_trend['DATE'] == '2023-01-25', ['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']] = average_values.values

In [18]:
# 작업할 날짜 쌍 정의
date_pairs = [('2023-03-01', '2023-03-02'), ('2023-05-01', '2023-05-02'), ('2023-05-05', '2023-05-08'), ('2023-05-29', '2023-05-30'), ('2023-06-06', '2023-06-07')]

# 날짜 쌍에 대한 반복 작업
for start_date, end_date in date_pairs:
    # 선택한 날짜 데이터 필터링
    selected_dates = [start_date, end_date]
    filtered_df = df_trend[df_trend['DATE'].isin(selected_dates)]

    # 시작 날짜 데이터 삭제
    df_trend = df_trend[df_trend['DATE'] != start_date]

    # 끝 날짜 데이터를 평균값으로 대체
    average_values = filtered_df.mean(numeric_only = True)
    df_trend.loc[df_trend['DATE'] == end_date, ['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']] = average_values[['keyword', 'view_log_like_sum', 'view_log_like_avg', 'count', 'trend']].values

In [19]:
# 차이 없는지 확인

set_trend_dates = set(df_trend['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_trend_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_trend와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_trend와 df_stock의 'DATE' 열에서 다른 원소:
set()

##  df_stock와 df_sentiment

In [20]:
set_sentiment_dates = set(df_sentiment['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_sentiment_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("set_sentiment_dates df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

set_sentiment_dates df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-05-29 00:00:00'), Timestamp('2023-03-01 00:00:00'), Timestamp('2023-06-28 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-04-05 00:00:00'), Timestamp('2023-05-05 00:00:00'), Timestamp('2023-06-06 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-01-23 00:00:00'), Timestamp('2023-01-24 00:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-06-27 00:00:00')}

- 1/23 : 설 연휴
- 1/24 : 설 연휴 
- 3/1 : 삼일절
- 5/5 : 어린이날
- 6/6 : 현충일 
- 해당 일자들은 주식 시장이 개장하지 않는 일자임
- 따라서 df_trend 에서 1/23, 1/24, 1/25에 대한 변수들의 값을 더한 뒤 평균을 내주는 식의 방법을 사용함 

- 4/5 : 
- 6/27 : 
- 6/28 :  
- 6/29 : 
- 6/30 : 
- 해당 일자들은 df_sentiment 값이 존재하지 않는(영상 등이 올라오지 않은) 부분

In [21]:
# 1월 23일, 1월 24일, 1월 25일 데이터 필터링
selected_dates = ['2023-01-23', '2023-01-24', '2023-01-25']
filtered_df = df_sentiment[df_sentiment['DATE'].isin(selected_dates)]

# 1월 23일, 1월 24일 데이터 삭제
df_sentiment = df_sentiment[df_sentiment['DATE'] != '2023-01-23']
df_sentiment = df_sentiment[df_sentiment['DATE'] != '2023-01-24']

# 1월 25일 데이터를 평균값으로 대체
average_values = filtered_df.mean(numeric_only = True)
df_sentiment.loc[df_sentiment['DATE'] == '2023-01-25', 'SENTIMENT_SUM'] = average_values.values

In [22]:
# 작업할 날짜 쌍 정의
date_pairs = [('2023-03-01', '2023-03-02'), ('2023-05-05', '2023-05-08'), ('2023-06-06', '2023-06-07')]

# 날짜 쌍에 대한 반복 작업
for start_date, end_date in date_pairs:
    # 선택한 날짜 데이터 필터링
    selected_dates = [start_date, end_date]
    filtered_df = df_sentiment[df_sentiment['DATE'].isin(selected_dates)]

    # 시작 날짜 데이터 삭제
    df_sentiment = df_sentiment[df_sentiment['DATE'] != start_date]

    # 끝 날짜 데이터를 평균값으로 대체
    average_values = filtered_df.mean(numeric_only = True)
    df_sentiment.loc[df_sentiment['DATE'] == end_date, 'SENTIMENT_SUM'] = average_values.values

In [23]:
# 결측치를 제외하고 차이 없는지 확인

set_sentiment_dates = set(df_sentiment['DATE'])
set_stock_dates = set(df_stock['DATE'])

# 차이를 확인하여 다른 원소를 추출
difference = set_sentiment_dates.symmetric_difference(set_stock_dates)

# 결과 출력
print("df_sentiment와 df_stock의 'DATE' 열에서 다른 원소:")
print(difference)

df_sentiment와 df_stock의 'DATE' 열에서 다른 원소:
{Timestamp('2023-05-29 00:00:00'), Timestamp('2023-06-28 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-04-05 00:00:00'), Timestamp('2023-06-30 00:00:00'), Timestamp('2023-06-29 00:00:00'), Timestamp('2023-06-27 00:00:00')}

# DATE 기준으로 데이터프레임 병합

In [24]:
print(df_stock['DATE'].nunique())
print(df_trend['DATE'].nunique())
print(df_sentiment['DATE'].nunique())
print(df_event['DATE'].nunique())

123
123
120
42

In [25]:
# 데이터프레임 병합
merged_df = df_stock.merge(df_trend, on='DATE', how='outer')
merged_df = merged_df.merge(df_sentiment, on='DATE', how='outer')
merged_df = merged_df.merge(df_event, on='DATE', how='outer')

# 날짜로 정렬
merged_df['DATE'] = pd.to_datetime(merged_df['DATE'])
merged_df = merged_df.sort_values(by='DATE')

In [26]:
merged_df

,DATE,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,...,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY_x,SENTIMENT_SUM_x,DAY_y,SENTIMENT_SUM_y,DAY
0,2023-01-02,77300.0,78000.0,73300.0,75200.0,425582.0,-0.019557,1117.160676,2197.145019,81365.440000,...,24.96469,1.511554e+08,3.023108e+07,2.500000,12.280464,월,80.773832,월,24.993916,월
1,2023-01-03,74900.0,78400.0,74700.0,77200.0,462240.0,0.026596,998.004622,1957.316939,80881.513600,...,14.15332,0.000000e+00,0.000000e+00,0.000000,2.649949,화,181.916077,화,NaN,NaN
2,2023-01-04,77200.0,77400.0,74200.0,75200.0,337977.0,-0.025907,733.731308,1712.599813,80426.622784,...,14.04271,0.000000e+00,0.000000e+00,0.000000,2.642103,수,21.082685,수,NaN,NaN
3,2023-01-05,75600.0,76900.0,73600.0,74400.0,297806.0,-0.010638,454.500292,1460.979909,79999.025417,...,13.70464,1.137340e+06,1.137340e+06,1.000000,16.834451,목,277.915244,목,NaN,NaN
4,2023-01-06,74000.0,74400.0,71700.0,73900.0,441861.0,-0.006720,190.664023,1206.916732,79597.083892,...,14.24473,2.964739e+06,2.964739e+06,1.000000,17.831200,금,318.234971,금,0.065548,금
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,110300.0,112000.0,109400.0,109700.0,193953.0,-0.011712,2278.430780,2139.225965,107945.212075,...,16.79784,1.151153e+08,1.151153e+08,0.666667,14.511251,월,94.132075,월,NaN,NaN
119,2023-06-27,108600.0,110900.0,106400.0,109700.0,238510.0,0.000000,1879.125841,2087.205941,124300.000000,...,14.64082,0.000000e+00,0.000000e+00,0.000000,2.683814,화,NaN,NaN,NaN,NaN
120,2023-06-28,109100.0,110200.0,107300.0,107300.0,213378.0,-0.021878,1353.412560,1940.447265,123942.000000,...,15.29111,0.000000e+00,0.000000e+00,0.000000,2.727272,수,NaN,NaN,NaN,NaN
121,2023-06-29,107400.0,110500.0,105300.0,107000.0,258872.0,-0.002796,902.173807,1732.792573,123591.160000,...,15.00185,0.000000e+00,0.000000e+00,0.000000,2.708174,목,NaN,NaN,NaN,NaN
122,2023-06-30,107000.0,108800.0,105200.0,106800.0,202510.0,-0.001869,522.403572,1490.714773,122859.513600,...,16.08035,1.563737e+08,3.127473e+07,5.000000,20.750628,금,NaN,NaN,NaN,NaN

In [27]:
# 변수 이름 변경
merged_df = merged_df.rename(columns={'SENTIMENT_SUM_x': 'SENTIMENT', 'SENTIMENT_SUM_y': 'EVENT'})
merged_df = merged_df.drop(columns=['DAY', 'DAY_y'])

# DAY_x 열을 DAY로 변경
merged_df = merged_df.rename(columns={'DAY_x': 'DAY'})

# 결과 출력
merged_df

,DATE,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,...,OBV,FI,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY,SENTIMENT,EVENT
0,2023-01-02,77300.0,78000.0,73300.0,75200.0,425582.0,-0.019557,1117.160676,2197.145019,81365.440000,...,5768696.0,-638373000.0,24.96469,1.511554e+08,3.023108e+07,2.500000,12.280464,월,80.773832,24.993916
1,2023-01-03,74900.0,78400.0,74700.0,77200.0,462240.0,0.026596,998.004622,1957.316939,80881.513600,...,6230936.0,924480000.0,14.15332,0.000000e+00,0.000000e+00,0.000000,2.649949,화,181.916077,NaN
2,2023-01-04,77200.0,77400.0,74200.0,75200.0,337977.0,-0.025907,733.731308,1712.599813,80426.622784,...,5892959.0,-675954000.0,14.04271,0.000000e+00,0.000000e+00,0.000000,2.642103,수,21.082685,NaN
3,2023-01-05,75600.0,76900.0,73600.0,74400.0,297806.0,-0.010638,454.500292,1460.979909,79999.025417,...,5595153.0,-238244800.0,13.70464,1.137340e+06,1.137340e+06,1.000000,16.834451,목,277.915244,NaN
4,2023-01-06,74000.0,74400.0,71700.0,73900.0,441861.0,-0.006720,190.664023,1206.916732,79597.083892,...,5153292.0,-220930500.0,14.24473,2.964739e+06,2.964739e+06,1.000000,17.831200,금,318.234971,0.065548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2023-06-26,110300.0,112000.0,109400.0,109700.0,193953.0,-0.011712,2278.430780,2139.225965,107945.212075,...,35864179.0,-252138900.0,16.79784,1.151153e+08,1.151153e+08,0.666667,14.511251,월,94.132075,NaN
119,2023-06-27,108600.0,110900.0,106400.0,109700.0,238510.0,0.000000,1879.125841,2087.205941,124300.000000,...,35864179.0,0.0,14.64082,0.000000e+00,0.000000e+00,0.000000,2.683814,화,NaN,NaN
120,2023-06-28,109100.0,110200.0,107300.0,107300.0,213378.0,-0.021878,1353.412560,1940.447265,123942.000000,...,35650801.0,-512107200.0,15.29111,0.000000e+00,0.000000e+00,0.000000,2.727272,수,NaN,NaN
121,2023-06-29,107400.0,110500.0,105300.0,107000.0,258872.0,-0.002796,902.173807,1732.792573,123591.160000,...,35391929.0,-77661600.0,15.00185,0.000000e+00,0.000000e+00,0.000000,2.708174,목,NaN,NaN
122,2023-06-30,107000.0,108800.0,105200.0,106800.0,202510.0,-0.001869,522.403572,1490.714773,122859.513600,...,35189419.0,-40502000.0,16.08035,1.563737e+08,3.127473e+07,5.000000,20.750628,금,NaN,NaN

In [28]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 122
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATE               127 non-null    datetime64[ns]
 1   Open               123 non-null    float64
 2   High               123 non-null    float64
 3   Low                123 non-null    float64
 4   Close              123 non-null    float64
 5   Volume             123 non-null    float64
 6   Change             123 non-null    float64
 7   MACD               123 non-null    float64
 8   Signal             123 non-null    float64
 9   PSAR               123 non-null    float64
 10  upper              123 non-null    float64
 11  middle             123 non-null    float64
 12  lower              123 non-null    float64
 13  SlowK              123 non-null    float64
 14  SlowD              123 non-null    float64
 15  ROC                123 non-null    float64
 16  OBV                123 non-null    float64
 17  FI                 123 non-null    float64
 18  keyword            123 non-null    float64
 19  view_log_like_sum  123 non-null    float64
 20  view_log_like_avg  123 non-null    float64
 21  count              123 non-null    float64
 22  trend              123 non-null    float64
 23  DAY                123 non-null    object
 24  SENTIMENT          120 non-null    float64
 25  EVENT              42 non-null     float64
dtypes: datetime64[ns](1), float64(24), object(1)
memory usage: 26.8+ KB

In [29]:
merged_df[merged_df['Open'].isnull()]

,DATE,Open,High,Low,Close,Volume,Change,MACD,Signal,PSAR,...,OBV,FI,keyword,view_log_like_sum,view_log_like_avg,count,trend,DAY,SENTIMENT,EVENT
125,2023-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74.969003
123,2023-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.226857,NaN
126,2023-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.952892
124,2023-05-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.772645,NaN

In [30]:
# 제거되지 않은 5월 1일의 데이터를 5월 2일 데이터와 병합
a = float(merged_df[merged_df['DATE'] == '2023-05-01']['EVENT'])
b = float(merged_df[merged_df['DATE'] == '2023-05-02']['EVENT'])
merged_df[merged_df['DATE'] == '2023-05-02']['EVENT'] = (a+b)/2

c = float(merged_df[merged_df['DATE'] == '2023-05-01']['SENTIMENT'])
d = float(merged_df[merged_df['DATE'] == '2023-05-02']['SENTIMENT'])
merged_df[merged_df['DATE'] == '2023-05-02']['SENTIMENT'] = (c+d)/2

merged_df = merged_df[merged_df['DATE'] != '2023-05-01']

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/117352557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-02']['EVENT'] = (a+b)/2
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/117352557.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-02']['SENTIMENT'] = (c+d)/2

In [31]:
# 제거되지 않은 5월 29일의 데이터를 5월 30일 데이터와 병합
a = float(merged_df[merged_df['DATE'] == '2023-05-29']['EVENT'])
b = float(merged_df[merged_df['DATE'] == '2023-05-30']['EVENT'])
merged_df[merged_df['DATE'] == '2023-05-30']['EVENT'] = (a+b)/2

c = float(merged_df[merged_df['DATE'] == '2023-05-29']['SENTIMENT'])
d = float(merged_df[merged_df['DATE'] == '2023-05-30']['SENTIMENT'])
merged_df[merged_df['DATE'] == '2023-05-30']['SENTIMENT'] = (c+d)/2

merged_df = merged_df[merged_df['DATE'] != '2023-05-29']

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/1842193291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-30']['EVENT'] = (a+b)/2
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/1842193291.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-30']['SENTIMENT'] = (c+d)/2

In [32]:
# 제거되지 않은 5월 5일의 데이터를 5월 8일 데이터와 병합
a = float(merged_df[merged_df['DATE'] == '2023-05-05']['EVENT'])
b = float(merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'])
merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'] = (a+b)/2

c = float(merged_df[merged_df['DATE'] == '2023-05-05']['SENTIMENT'])
d = float(merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'])
merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'] = (c+d)/2

merged_df = merged_df[merged_df['DATE'] != '2023-05-05']

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/443569746.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-08']['EVENT'] = (a+b)/2
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/443569746.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-05-08']['SENTIMENT'] = (c+d)/2

In [33]:
# 제거되지 않은 3월 1일의 데이터를 3월 2일의 데이터와 병합
a = float(merged_df[merged_df['DATE'] == '2023-03-01']['EVENT'])
b = float(merged_df[merged_df['DATE'] == '2023-03-02']['EVENT'])
merged_df[merged_df['DATE'] == '2023-03-02']['EVENT'] = (a+b)/2

c = float(merged_df[merged_df['DATE'] == '2023-03-01']['SENTIMENT'])
d = float(merged_df[merged_df['DATE'] == '2023-03-02']['SENTIMENT'])
merged_df[merged_df['DATE'] == '2023-03-02']['SENTIMENT'] = (c+d)/2

merged_df = merged_df[merged_df['DATE'] != '2023-03-01']

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/150931787.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-03-02']['EVENT'] = (a+b)/2
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_23827/150931787.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df[merged_df['DATE'] == '2023-03-02']['SENTIMENT'] = (c+d)/2

In [34]:
# 확인
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123 entries, 0 to 122
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DATE               123 non-null    datetime64[ns]
 1   Open               123 non-null    float64
 2   High               123 non-null    float64
 3   Low                123 non-null    float64
 4   Close              123 non-null    float64
 5   Volume             123 non-null    float64
 6   Change             123 non-null    float64
 7   MACD               123 non-null    float64
 8   Signal             123 non-null    float64
 9   PSAR               123 non-null    float64
 10  upper              123 non-null    float64
 11  middle             123 non-null    float64
 12  lower              123 non-null    float64
 13  SlowK              123 non-null    float64
 14  SlowD              123 non-null    float64
 15  ROC                123 non-null    float64
 16  OBV                123 non-null    float64
 17  FI                 123 non-null    float64
 18  keyword            123 non-null    float64
 19  view_log_like_sum  123 non-null    float64
 20  view_log_like_avg  123 non-null    float64
 21  count              123 non-null    float64
 22  trend              123 non-null    float64
 23  DAY                123 non-null    object
 24  SENTIMENT          118 non-null    float64
 25  EVENT              40 non-null     float64
dtypes: datetime64[ns](1), float64(24), object(1)
memory usage: 25.9+ KB

# CSV 파일로 저장

In [35]:
merged_df.to_csv("../../data/FINALDATA/sm.csv", index=False)