# 파일 소개 
- **파일 내용 : 부정지수, 중립지수, 긍정지수를 각각 계산하여 추가한 news_sentiment_final.xlsx 파일을 회사별로 분리한 뒤, 날짜별로 정리한 시계열 데이터를 만든다** 
- **1) 각 뉴스의 제목을 이용해 어느 회사에 대한 뉴스인지를 COMPANY 라는 새로운 변수에 저장하고, 이 변수를 기준으로 데이터프레임을 쪼갠다**
- **2) 쪼갠 회사별 데이터프레임은 주식 시장 개장시간을 고려하여 일자별로 POSITIVE-NEGATIVE 지수의 총합을 계산한다**

# 패키지, 데이터 로드

In [1]:
import pandas as pd 
import numpy as np
import re
import datetime

In [2]:
# 데이터 로드 
news = pd.read_excel("../../../data/News/news_sentiment_final.xlsx")
news.head() # 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE
0,202303,20230303_134044,매일경제,기술,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",29.27,NaN,의사| 독점,방시혁 하이브 의장이 미국 CNN 방송에 출연해 SM엔터테인먼트 인수전을 적대적 M...,2326,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지난 2월 10일 지분인수 발...,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지분인수 발표 당일 이수만 전...,95.182945,4.809798,0.007258
1,202304,20230414_092237,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.035980,99.939550
2,202306,20230611_085817,eDaily,사회,"타다, 하이브 ‘위버스콘 페스티벌’서 K팝 팬 태워",24.31,NaN,NaN,- 10일부터 11일까지 양일간 페스티벌 참여- 올림픽공원과 롯데호텔 월드에 전용 ...,2308,10일부터 11일까지 양일간 페스티벌 참여- 올림픽공원과 롯데호텔 월드에 전용 탑승...,타다가 10일부터 11일까지 2023 ‘Weverse Con Festival’ (이...,0.012343,45.286148,54.701510
3,202301,20230102_084347,eDaily,사회,BTS 자리 넘본다…유망주는 스트레이 키즈-KB,67.91,NaN,BTS| 판매량| NCT| 넥스트| 엔하이픈| 블랙핑크| 에스파| 아이브,"- KB증권 “군 입대 BTS에 도전 이어질 것”- “스트레이 키즈, 군 이슈 없고...",1713,방탄소년단(BTS)을 이을 아이돌 그룹에 스트레이 키즈가 유력하다는 전망이 제기됐습...,방탄소년단(BTS)을 이을 아이돌 그룹에 스트레이 키즈가 유력하다는 전망이 제기됐습...,0.013367,7.872859,92.113780
4,202301,20230104_082655,eDaily,경제,BTS 군입대에도 K팝 주가 선방 전망-IBK,67.81,NaN,판매량| 방탄소년단| BTS| 개별| 공연| 글로벌,"- 이환욱 “K팝 앨범 판매 증가, 하이브 주가 상향”[이데일리 최훈길 기자] 방탄...",1887,방탄소년단(BTS) 군 입대에도 K팝 앨범과 주가가 선방할 것이란 전망이 제기됐습니...,방탄소년단(BTS) 군 입대에도 K팝 앨범과 주가가 선방할 것이란 전망이 제기됐습니...,32.145016,1.136920,66.718060

# 날짜 변수 전처리

### DATE_TIME 데이터 타입 변환

In [3]:
# DATE_TIME 변수를 datetime 형식으로 변경 

# DATE_TIME 열을 변환하는 함수 정의
def parse_date_time(date_time_str):
    year = int(date_time_str[:4])
    month = int(date_time_str[4:6])
    day = int(date_time_str[6:8])
    hour = int(date_time_str[9:11])
    minute = int(date_time_str[11:13])
    second = int(date_time_str[13:15])
    return pd.Timestamp(year=year, month=month, day=day, hour=hour, minute=minute, second=second)

# DATE_TIME 열을 변환
news['DATE_TIME'] = news['DATE_TIME'].apply(parse_date_time)

### 개장 시간대를 기준으로 한 일자변수 'DATE_NEW' 추가

In [4]:
date_list = []

for i in range(len(news)):
    if news["DATE_TIME"][i].time() >= datetime.time(15,30,0): #당일 장 마감시간(오후 3시 30분) 이후부터 자정까지
        date_new = news["DATE_TIME"][i] + datetime.timedelta(days=1) #익일 날짜로 설정
        date_list.append(date_new.date())
    else:
        date_list.append(news["DATE_TIME"][i].date())
    
news["DATE_NEW"] = date_list
news[["DATE_TIME", "DATE_NEW"]]

               DATE_TIME    DATE_NEW
0    2023-03-03 13:40:44  2023-03-03
1    2023-04-14 09:22:37  2023-04-14
2    2023-06-11 08:58:17  2023-06-11
3    2023-01-02 08:43:47  2023-01-02
4    2023-01-04 08:26:55  2023-01-04
...                  ...         ...
2884 2023-06-14 09:24:26  2023-06-14
2885 2023-06-14 21:39:37  2023-06-15
2886 2023-06-01 09:47:38  2023-06-01
2887 2023-06-22 07:51:05  2023-06-22
2888 2023-06-22 10:23:03  2023-06-22

[2889 rows x 2 columns]

### 요일 변수 추가 
향후 분석에 용이하도록 DATE_NEW 일자를 기준으로 일자별 요일을 지정해줌.
- 2023년 1월은 일요일부터 시작함

In [5]:
weekday_dict = {0:'월', 1:'화', 2:'수', 3:'목', 4:'금', 5:'토', 6:'일'}

In [6]:
day_list = []

for i in range(len(news)):
    day_list.append(weekday_dict[news["DATE_NEW"][i].weekday()])

news["DAY"] = day_list
news.groupby("DAY").size()

DAY
금    612
목    429
수    494
월    467
일    174
토    241
화    472
dtype: int64

In [7]:
#요일 배정이 잘 되었는지 확인
for day in weekday_dict.values():
    print(day, news[news["DAY"] == day]["DATE_NEW"].unique())

월 [datetime.date(2023, 1, 2) datetime.date(2023, 1, 9)
 datetime.date(2023, 1, 16) datetime.date(2023, 1, 23)
 datetime.date(2023, 1, 30) datetime.date(2023, 2, 13)
 datetime.date(2023, 2, 20) datetime.date(2023, 2, 27)
 datetime.date(2023, 2, 6) datetime.date(2023, 3, 6)
 datetime.date(2023, 3, 13) datetime.date(2023, 3, 27)
 datetime.date(2023, 3, 20) datetime.date(2023, 4, 3)
 datetime.date(2023, 4, 24) datetime.date(2023, 4, 17)
 datetime.date(2023, 4, 10) datetime.date(2023, 5, 15)
 datetime.date(2023, 5, 22) datetime.date(2023, 5, 8)
 datetime.date(2023, 5, 1) datetime.date(2023, 5, 29)
 datetime.date(2023, 6, 12) datetime.date(2023, 6, 5)
 datetime.date(2023, 6, 19)]
화 [datetime.date(2023, 1, 31) datetime.date(2023, 1, 3)
 datetime.date(2023, 1, 10) datetime.date(2023, 1, 17)
 datetime.date(2023, 1, 24) datetime.date(2023, 2, 14)
 datetime.date(2023, 2, 28) datetime.date(2023, 2, 21)
 datetime.date(2023, 2, 7) datetime.date(2023, 3, 7)
 datetime.date(2023, 3, 14) datetime.date(2023, 3, 28)
 datetime.date(2023, 3, 21) datetime.date(2023, 4, 4)
 datetime.date(2023, 4, 25) datetime.date(2023, 4, 18)
 datetime.date(2023, 4, 11) datetime.date(2023, 5, 2)
 datetime.date(2023, 5, 16) datetime.date(2023, 5, 30)
 datetime.date(2023, 5, 9) datetime.date(2023, 5, 23)
 datetime.date(2023, 6, 20) datetime.date(2023, 6, 13)
 datetime.date(2023, 6, 6)]
수 [datetime.date(2023, 1, 4) datetime.date(2023, 1, 25)
 datetime.date(2023, 1, 11) datetime.date(2023, 1, 18)
 datetime.date(2023, 2, 15) datetime.date(2023, 3, 1)
 datetime.date(2023, 2, 22) datetime.date(2023, 2, 8)
 datetime.date(2023, 2, 1) datetime.date(2023, 3, 15)
 datetime.date(2023, 3, 29) datetime.date(2023, 3, 22)
 datetime.date(2023, 3, 8) datetime.date(2023, 4, 5)
 datetime.date(2023, 4, 26) datetime.date(2023, 4, 19)
 datetime.date(2023, 4, 12) datetime.date(2023, 5, 3)
 datetime.date(2023, 5, 10) datetime.date(2023, 5, 17)
 datetime.date(2023, 5, 24) datetime.date(2023, 5, 31)
 datetime.date(2023, 6, 14) datetime.date(2023, 6, 7)
 datetime.date(2023, 6, 21)]
목 [datetime.date(2023, 1, 19) datetime.date(2023, 1, 26)
 datetime.date(2023, 1, 5) datetime.date(2023, 2, 9)
 datetime.date(2023, 2, 16) datetime.date(2023, 2, 23)
 datetime.date(2023, 2, 2) datetime.date(2023, 3, 2)
 datetime.date(2023, 3, 23) datetime.date(2023, 3, 30)
 datetime.date(2023, 3, 16) datetime.date(2023, 3, 9)
 datetime.date(2023, 4, 6) datetime.date(2023, 4, 13)
 datetime.date(2023, 4, 27) datetime.date(2023, 4, 20)
 datetime.date(2023, 5, 11) datetime.date(2023, 5, 4)
 datetime.date(2023, 5, 18) datetime.date(2023, 5, 25)
 datetime.date(2023, 6, 1) datetime.date(2023, 6, 8)
 datetime.date(2023, 6, 22) datetime.date(2023, 6, 15)
 datetime.date(2023, 1, 12)]
금 [datetime.date(2023, 3, 3) datetime.date(2023, 4, 14)
 datetime.date(2023, 1, 20) datetime.date(2023, 1, 27)
 datetime.date(2023, 1, 13) datetime.date(2023, 1, 6)
 datetime.date(2023, 2, 10) datetime.date(2023, 2, 17)
 datetime.date(2023, 2, 3) datetime.date(2023, 2, 24)
 datetime.date(2023, 3, 17) datetime.date(2023, 3, 10)
 datetime.date(2023, 3, 24) datetime.date(2023, 3, 31)
 datetime.date(2023, 4, 21) datetime.date(2023, 4, 7)
 datetime.date(2023, 4, 28) datetime.date(2023, 5, 12)
 datetime.date(2023, 5, 19) datetime.date(2023, 5, 26)
 datetime.date(2023, 5, 5) datetime.date(2023, 6, 9)
 datetime.date(2023, 6, 2) datetime.date(2023, 6, 16)
 datetime.date(2023, 6, 23)]
토 [datetime.date(2023, 1, 14) datetime.date(2023, 1, 21)
 datetime.date(2023, 2, 18) datetime.date(2023, 2, 11)
 datetime.date(2023, 2, 25) datetime.date(2023, 2, 4)
 datetime.date(2023, 3, 4) datetime.date(2023, 3, 11)
 datetime.date(2023, 3, 25) datetime.date(2023, 3, 18)
 datetime.date(2023, 4, 15) datetime.date(2023, 4, 8)
 datetime.date(2023, 4, 22) datetime.date(2023, 4, 1)
 datetime.date(2023, 5, 20) datetime.date(2023, 5, 6)
 datetime.date(2023, 5, 27) datetime.date(2023, 5, 13)
 datetime.date(2023, 6, 10) datetime.date(2023, 6, 17)
 datetime.date(2023, 6, 3) datetime.date(2023, 6, 24)
 datetime.date(2023, 1, 28)]
일 [datetime.date(2023, 6, 11) datetime.date(2023, 1, 15)
 datetime.date(2023, 1, 8) datetime.date(2023, 1, 1)
 datetime.date(2023, 2, 12) datetime.date(2023, 2, 19)
 datetime.date(2023, 2, 26) datetime.date(2023, 2, 5)
 datetime.date(2023, 3, 5) datetime.date(2023, 3, 12)
 datetime.date(2023, 3, 26) datetime.date(2023, 4, 9)
 datetime.date(2023, 4, 30) datetime.date(2023, 4, 16)
 datetime.date(2023, 5, 14) datetime.date(2023, 5, 28)
 datetime.date(2023, 6, 25) datetime.date(2023, 6, 18)
 datetime.date(2023, 6, 4) datetime.date(2023, 1, 29)
 datetime.date(2023, 3, 19) datetime.date(2023, 4, 23)
 datetime.date(2023, 5, 7) datetime.date(2023, 5, 21)]

- **설명**
- '요일' 변수는 각 뉴스가 영향을 미치는 요일을 의미한다 
- ex1) 요일이 '금'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터 
- ex2) 요일이 '토'으로 지정된 데이터 : 금요일 주가에 영향을 미치는 데이터

### 토요일, 일요일 데이터 전처리

- 토요일과 일요일 데이터는 ***월요일*** 주가에 영향을 미침
- 따라서 요일 변수가 토요일, 일요일로 설정된 데이터들은 그 다음주 월요일 데이터로 간주하여 날짜 및 요일 변수를 변경함

In [8]:
 for i in range(len(news)):
    if (news['DAY'].iloc[i] == '토'): # 토요일 뉴스기사라면, 
        news['DATE_NEW'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
        news['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
    if (news['DAY'].iloc[i] == '일'): # 일요일 뉴스기사라면, 
        news['DATE_NEW'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
        news['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2229788862.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['DATE_NEW'].iloc[i]+= datetime.timedelta(days=1)  # DATE_NEW(날짜)변수에 하루를 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2229788862.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2229788862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['DATE_NEW'].iloc[i]+= datetime.timedelta(days=2)  # DATE_NEW(날짜)변수에 이틀을 추가
/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2229788862.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  news['DAY'].iloc[i] = '월'       #DAY(요일) 변수를 월요일로

In [9]:
news.head(2)  # 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY
0,202303,2023-03-03 13:40:44,매일경제,기술,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",29.27,NaN,의사| 독점,방시혁 하이브 의장이 미국 CNN 방송에 출연해 SM엔터테인먼트 인수전을 적대적 M...,2326,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지난 2월 10일 지분인수 발...,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지분인수 발표 당일 이수만 전...,95.182945,4.809798,0.007258,2023-03-03,금
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.035980,99.939550,2023-04-14,금

### DATE_NEW 변수타입 변환

In [10]:
# 'DATE_NEW' 열을 datetime 형식으로 변환
news['DATE_NEW'] = pd.to_datetime(news['DATE_NEW'])

# 감정지수 변수 추가하기
* *****SENTIMENT (= POSITIVE - NEGATIVE) 변수*****

In [11]:
# POSITIVE - NEGATIVE 변수 구하기 
news['SENTIMENT'] = news['SENTIMENT_POSITIVE'] - news['SENTIMENT_NEGATIVE']

In [12]:
news.head(2) # 결과 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT
0,202303,2023-03-03 13:40:44,매일경제,기술,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",29.27,NaN,의사| 독점,방시혁 하이브 의장이 미국 CNN 방송에 출연해 SM엔터테인먼트 인수전을 적대적 M...,2326,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지난 2월 10일 지분인수 발...,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지분인수 발표 당일 이수만 전...,95.182945,4.809798,0.007258,2023-03-03,금,-95.175687
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.035980,99.939550,2023-04-14,금,99.915081

# 회사별로 뉴스 데이터 분류

## 회사별 키워드 지정

* *****HYBE*****

In [13]:
hybe_kw =  ['하이브','hybe','방시혁','뉴진스','new jeans','newjeans','민지','해린','혜인','다니엘','하니',
            '민희진','방탄소년단','bts','전정국','제이홉','rm','슈가','정국',
            '르세라핌','le sserafim','채원','카즈하','은채','사쿠라','허윤진',
            '세븐틴','seventeen','투모로우바이투게더', 'txt','프로미스나인','fromis 9','fromis9',
            '나나','nana','이현','lee hyun','미드낫','midnatt','엔하이픈','enhypen',
            '백호','강동호','황민현','예하나','성연','지코','zico','앤팀','&team','히라테 유리나',
            '보이넥스트도어','boynextdoor','boy next door','위버스','부석순']

* *****SM*****

In [14]:
sm_kw = ['sm','에스엠','이수만','boa','에스파','aespa','카리나','윈터','지젤','닝닝',
         '엑소','exo','샤이니','shinee','엔시티','nct',
         '동방신기','tvxq','슈퍼주니어','super junior','superjunior','소녀시대',
         '레드벨벳','red velvet','redvelvet','웨이션브이','슈퍼엠','superm','super m',
         '갓더비트','갓 더 비트','got the beat','라이즈','riize','디어유']

* *****YG*****

In [15]:
yg_kw = ['와이지','yg','양현석','블랙핑크','blackpink','black pink','제니','리사','지수','로제',
         '트레저','treasure','악뮤','악동뮤지션','akmu','위너','winnter','지디','GD','권지용','지드래곤',
         '젝스키스','sechskies','sechs kies','베이비몬스터','베이비 몬스터','babymonster','baby monster']

* *****JYP*****

In [16]:
jyp_kw = ['제이와이피','jyp','박진영','스트레이키즈','스트레이 키즈','straykids','stray kids',
          '트와이스','twice','엔믹스','nmixx', '데이식스','day6','day 6',
          '있지','잇지','itzy','채령','유나','류진','리아','예지',
          '투피엠','2pm','2 pm','보이스토리','boystory','boy story',
          '야오천','yaochen','니지유','niziu','엑스디너리 히어로즈','xdinary heroes','xdinaryheroes']

## COMPANY 변수 추가 
- 기준 : 제목에 어느 회사의 키워드가 가장 ‘먼저’ 등장하는지

In [17]:
news['COMPANY'] = ""

In [18]:
# 회사별 키워드 목록 및 인덱스 열 생성
company_keywords = {
    'HYBE': hybe_kw,
    'SM': sm_kw,
    'YG': yg_kw,
    'JYP': jyp_kw,
}
for company in company_keywords:
    news[f'{company}_KW_INDEX'] = -1

# 키워드의 인덱스를 찾는 함수
def find_keyword_index(title, keywords):
    index = len(title)  # 초기값을 title 문자열의 길이로 설정
    for keyword in keywords:
        keyword_index = title.lower().find(keyword.lower())
        if keyword_index != -1 and keyword_index < index:
            index = keyword_index
    return index

# 각 회사별 키워드의 인덱스 찾고 {회사명}_KW_INDEX 변수로 저장 
for company, keywords in company_keywords.items():
    news[f'{company}_KW_INDEX'] = news['TITLE'].apply(lambda x: find_keyword_index(x, keywords))

In [19]:
news[['TITLE','COMPANY','HYBE_KW_INDEX','SM_KW_INDEX','YG_KW_INDEX','JYP_KW_INDEX']].head() # 결과 확인

,TITLE,COMPANY,HYBE_KW_INDEX,SM_KW_INDEX,YG_KW_INDEX,JYP_KW_INDEX
0,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",,0,5,37,37
1,"[특징주]엔터株, K-팝 약진 속 일제히 강세",,25,25,25,25
2,"타다, 하이브 ‘위버스콘 페스티벌’서 K팝 팬 태워",,4,28,28,28
3,BTS 자리 넘본다…유망주는 스트레이 키즈-KB,,0,26,26,16
4,BTS 군입대에도 K팝 주가 선방 전망-IBK,,0,25,25,25

In [20]:
# {회사명}_KW_INDEX 변수 중 가장 작은 것을 COMPANY 에 할당. 모두 같을 경우 ALL 을 할당 
for i in range(len(news)):
    kw_indices = [news['HYBE_KW_INDEX'][i], news['SM_KW_INDEX'][i], news['YG_KW_INDEX'][i], news['JYP_KW_INDEX'][i]]
    min_index = min(kw_indices)
    
    if all(index == min_index for index in kw_indices):
        news.loc[i, 'COMPANY'] = 'ALL'
    elif min_index == news['HYBE_KW_INDEX'][i]:
        news.loc[i, 'COMPANY'] = 'HYBE'
    elif min_index == news['SM_KW_INDEX'][i]:
        news.loc[i, 'COMPANY'] = 'SM'
    elif min_index == news['YG_KW_INDEX'][i]:
        news.loc[i, 'COMPANY'] = 'YG'
    elif min_index == news['JYP_KW_INDEX'][i]:
        news.loc[i, 'COMPANY'] = 'JYP'

In [21]:
news.head(50) # 결과 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,...,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT,COMPANY,HYBE_KW_INDEX,SM_KW_INDEX,YG_KW_INDEX,JYP_KW_INDEX
0,202303,2023-03-03 13:40:44,매일경제,기술,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",29.27,NaN,의사| 독점,방시혁 하이브 의장이 미국 CNN 방송에 출연해 SM엔터테인먼트 인수전을 적대적 M...,2326,...,4.809798,0.007258,2023-03-03,금,-95.175687,HYBE,0,5,37,37
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,...,0.035980,99.939550,2023-04-14,금,99.915081,ALL,25,25,25,25
2,202306,2023-06-11 08:58:17,eDaily,사회,"타다, 하이브 ‘위버스콘 페스티벌’서 K팝 팬 태워",24.31,NaN,NaN,- 10일부터 11일까지 양일간 페스티벌 참여- 올림픽공원과 롯데호텔 월드에 전용 ...,2308,...,45.286148,54.701510,2023-06-12,월,54.689167,HYBE,4,28,28,28
3,202301,2023-01-02 08:43:47,eDaily,사회,BTS 자리 넘본다…유망주는 스트레이 키즈-KB,67.91,NaN,BTS| 판매량| NCT| 넥스트| 엔하이픈| 블랙핑크| 에스파| 아이브,"- KB증권 “군 입대 BTS에 도전 이어질 것”- “스트레이 키즈, 군 이슈 없고...",1713,...,7.872859,92.113780,2023-01-02,월,92.100413,HYBE,0,26,26,16
4,202301,2023-01-04 08:26:55,eDaily,경제,BTS 군입대에도 K팝 주가 선방 전망-IBK,67.81,NaN,판매량| 방탄소년단| BTS| 개별| 공연| 글로벌,"- 이환욱 “K팝 앨범 판매 증가, 하이브 주가 상향”[이데일리 최훈길 기자] 방탄...",1887,...,1.136920,66.718060,2023-01-04,수,34.573044,HYBE,0,25,25,25
5,202301,2023-01-15 10:37:41,eDaily,사회,제페토와 함께 아티스트 ‘태양’의 컴백을 즐겨보세요,57.65,NaN,제페토| 콘텐츠| 글로벌| 아이템| 플랫폼| 메타버스| 엔터테인먼트| 가상,- 글로벌 아티스트 태양 한정판 아이템 판매 및 틱톡 챌린지- 견고한 크리에이터 생...,1819,...,33.189068,66.803185,2023-01-16,월,66.795438,ALL,28,28,28,28
6,202301,2023-01-19 08:00:58,eDaily,사회,"와이지엔터, 블랙핑크 재계약 무난한 진행…우려 과도 -NH",66.27,와이지엔터테인먼트,블랙핑크| 음원,[이데일리 김소연 기자] NH투자증권은 19일 와이지엔터테인먼트(122870)에 대...,1938,...,7.701961,46.145590,2023-01-19,목,-0.006857,YG,32,32,0,32
7,202301,2023-01-03 19:06:35,eDaily,경제,"블랙핑크·뉴진스, 유튜브·음원 차트 점령…걸그룹 돌풍에 엔터株 훨훨",69.12,하이브|와이지엔터테인먼트,유튜브| 음원| 중국| 블랙핑크| 주력| 음반| 판매량| 공연,- [특징주]- 주력 걸그룹 인기몰이에 나홀로 승승장구- 한한령 완화 기대감도 투심...,1698,...,0.025601,66.639440,2023-01-04,수,33.304480,YG,5,37,0,37
8,202301,2023-01-20 07:54:07,eDaily,기술,"와이지엔터테인먼트, 베이비몬스터 데뷔 기대에 분위기 전환-메리츠",68.93,와이지엔터테인먼트,블랙핑크| 공연,- 양현석 사법 리스크 해소 및 베이비몬스터 흥행 기대- 지난해 4Q 실적은 컨센서...,1971,...,7.697240,92.287964,2023-01-20,금,92.273171,YG,35,35,0,35
9,202301,2023-01-04 13:46:39,연합뉴스,사회,"[가요소식] 트와이스, 영어 싱글 곡 20일 공개",29.00,NaN,트와이스| 글로벌| 스트리밍,"▲ 트와이스, 영어 싱글 곡 20일 공개 = 걸그룹 트와이스가 20일 영어 싱글 ...",1291,...,99.954990,0.029811,2023-01-04,수,0.014613,JYP,27,27,27,7
10,202301,2023-01-20 09:50:26,연합뉴스,경제,"증권가, 하이브 목표가 줄상향…""뉴진스, 블랙핑크 이상 될 것""",38.53,하이브|메리츠증권|다올투자증권|한화투자증권,블랙핑크| 글로벌,증권사들이 하이브[352820]의 팬 커뮤니티 위버스의 구독rn모델 도입과 작년 ...,865,...,0.017914,99.971870,2023-01-20,금,99.961656,HYBE,5,35,23,35
11,202301,2023-01-26 09:53:08,연합뉴스,사회,100억회 이상 스트리밍 가수 BTS 유일…'멜론의 전당' 공개,41.40,NaN,스트리밍| BTS| 방탄소년단| 음악,국내 최대 음원 플랫폼 멜론이 국내외 아티스트의 스트리밍 기록을 집계한 '멜론의 ...,1363,...,8.079998,91.913376,2023-01-26,목,91.906746,HYBE,17,35,35,35
12,202301,2023-01-14 12:20:44,머니투데이,사회,"뉴진스, 英오피셜 싱글 톱100 진입…美빌보드 핫100 진입예상",70.97,NaN,글로벌| 음원| 중국,그룹 '뉴진스(NewJeans)'가 미국 빌보드와 더불어 세계 양대 팝 차트로 꼽...,1100,...,6.444951,92.342600,2023-01-16,월,91.130147,HYBE,0,35,35,35
13,202301,2023-01-19 09:39:13,연합뉴스,사회,"BTS '프루프', 빌보드 앨범 차트 31주 연속 진입…에이티즈 40위",41.51,NaN,글로벌| BTS| 블랙핑크| 아이브| 르세라핌,그룹 방탄소년단(BTS)의 앤솔러지(선집) 음반 '프루프'(Proof)가 미국 빌...,1390,...,7.650067,92.334130,2023-01-19,목,92.318325,HYBE,0,39,39,39
14,202301,2023-01-25 07:44:25,머니투데이,경제,"에스엠, 12가지 지배구조 개선방안 수용...멋진 에스엠-하나證",67.28,에스엠,NaN,하나증권은 25일 에스엠에 대해 회사 측이 얼라인파트너스가 제시한 12가지 지배구...,1094,...,0.121074,66.673520,2023-01-25,수,33.468118,SM,35,0,35,35
15,202301,2023-01-31 09:13:48,연합뉴스,기술,"하이브, AI 오디오 기업 수퍼톤 인수…""음성 기술·콘텐츠 접목""",41.46,NaN,AI| 음성| 콘텐츠| 음악,그룹 방탄소년단(BTS)과 세븐틴 등이 소속된 대형 연예기rn획사 하이브는 인공지...,665,...,24.969965,75.019290,2023-01-31,화,75.008539,HYBE,0,36,36,36
16,202301,2023-01-26 04:36:29,연합뉴스,경제,"美 매체 ""하이브 아메리카 단독 CEO에 스쿠터 브라운""",36.42,NaN,글로벌,"美 매체 ""하이브 아메리카 단독 CEO에 스쿠터 브라운"" (로스앤젤레스=연합뉴...",1663,...,99.958015,0.027022,2023-01-26,목,0.012060,HYBE,6,31,31,31
17,202301,2023-01-11 12:13:15,머니투데이,사회,"'월드 투어' NCT 127, 美 시카고서 북남미 추가 공연 포문",50.02,에스엠,NCT| 공연,에스엠엔터테인먼트는 그룹 NCT 127(엔시티 127)이 미국 시카고에서 북남미 ...,1001,...,23.312616,76.648926,2023-01-11,수,76.610465,SM,36,8,36,36
18,202301,2023-01-20 07:43:48,머니투데이,기술,"하이브, 성공적 IP 다각화…목표주가 24%↑-메리츠",71.64,하이브,방탄소년단| BTS| 엔하이픈,메리츠증권은 20일 하이브에 대해 성공적인 IP(지식재산권) 다각화로 호실적이 예...,746,...,0.009757,33.333412,2023-01-20,금,-33.323418,HYBE,0,29,29,29
19,202301,2023-01-27 09:16:01,머니투데이,사회,"남미 휩쓴 NCT 127, 콜롬비아 1만석 규모 첫 단독 콘서트 성료",51.04,에스엠,NCT| 콜롬비아| 공연,에스엠엔터테인먼트는 그룹 NCT 127(엔시티 127)이 콜롬비아 첫 단독 콘서트...,878,...,22.449915,77.525700,2023-01-27,금,77.501318,SM,38,6,38,38
20,202301,2023-01-19 16:15:22,한경뉴스,경제,"미디어·엔터 ETF 기대 충족하며 새해에도 상승세...""단기실적 개선 넘어",59.51,NaN,미디어| 드라마| 산업| 콘텐츠| 컨텐츠| 영화| 중국,미디어·엔터 상장지수펀드(ETF)가 증권가의 기대를 충족하며 올해에도 상승세를 이어...,1290,...,7.396741,92.509970,2023-01-20,금,92.416680,ALL,41,41,41,41
21,202301,2023-01-13 11:48:19,연합뉴스,정치,"[영상] K팝, 미 CD 판매량 '톱10' 줄세워…""굿즈와 함께 정교하게 포장""",41.52,NaN,판매량| 음반,"[영상] K팝, 미 CD 판매량 '톱10' 줄세워…""굿즈와 함께 정교하게 포장""[h...",1642,...,7.743111,92.234410,2023-01-13,금,92.211934,ALL,44,44,44,44
22,202301,2023-01-19 16:54:29,연합뉴스,경제,"방시혁, 서울대에 '문화관 건축기금' 50억원 기부",17.98,NaN,문화,그룹 방탄소년단(BTS)을 키워낸 방시혁 하이브 의장이 모교인 서울대 문화관 증·...,1511,...,5.369710,94.605934,2023-01-20,금,94.581576,HYBE,0,28,28,28
23,202301,2023-01-20 13:31:19,매일경제,경제,"BTS 공백 뉴진스가 채울까...증권가, 하이브 목표주가 줄상향",65.10,하이브,블랙핑크| 글로벌,증권사들이 작년 데뷔한 신인 걸그룹 뉴진스의 빌보드 핫100 차트 진입 등을 계기로...,1346,...,0.016962,99.971880,2023-01-20,금,99.960716,HYBE,0,35,35,35
24,202301,2023-01-06 09:44:10,헤럴드경제,경제,"새해 첫날 10% 급등 와이지엔터, 추가 상승 조건은?[투자360]",65.87,와이지엔터테인먼트,블랙핑크| 빅뱅| 공연,'베이비몬스터' 실체 밝혀져야지드래곤 남았지만 매출과 이익·주가 모멘텀은 별개 양현...,1532,...,23.197110,1.188929,2023-01-06,금,-74.425031,YG,37,37,13,37
25,202301,2023-01-06 11:20:37,헤럴드경제,경제,급등 뒤 횡보세 와이지엔터...추가 상승 ‘4대 조건’ 주시,45.72,와이지엔터테인먼트,블랙핑크| 빅뱅| 공연,새 걸그룹 ‘베이비몬스터’ 실체는지드래곤 등 아티스트 해외공연올 계약 만료 블랙핑크...,1491,...,25.537868,0.218723,2023-01-06,금,-74.024687,YG,33,33,9,33
26,202301,2023-01-31 09:45:13,인포스탁,기술,"JYP Ent.(035900) 소폭 상승세 +3.12%, 52주 신고가, 외국계 매...",66.22,JYP Ent.,증권사| 드라마| 엔터테인먼트| 광고,"제목 : JYP Ent.(035900) 소폭 상승세 +3.12%, 52주 신고가, ...",409,...,98.651920,1.319729,2023-01-31,화,1.291378,JYP,50,50,50,0
27,202301,2023-01-26 10:06:01,헤럴드경제,사회,"‘100억대’ 멜론 스트리밍, BTS가 유일…아이유·임영웅·엑소는 몇번?",69.51,NaN,스트리밍| BTS| 아이유| 엑소| 방탄소년단| 골드| 음악,국내 최대 음원 플랫폼 멜론이 국내외 아티스트의 스트리밍 기록을 집계한 ‘멜론의 ...,892,...,24.814760,75.176240,2023-01-26,목,75.167238,HYBE,17,33,40,40
28,202301,2023-01-27 10:27:31,헤럴드경제,사회,"남미 휩쓴 NCT 127, 콜롬비아 첫 단독 콘서트도 대성황",63.45,NaN,NCT| 콜롬비아| 공연,"월드 투어로 남미를 휩쓸고 있는 NCT 127(엔시티 127, 에스엠엔터테인먼트 소...",1059,...,0.014769,99.976860,2023-01-27,금,99.968488,SM,33,6,33,33
29,202301,2023-01-03 09:32:08,인포스탁,기술,"에스엠(041510) 소폭 상승세 +3.45%, 외국계 매수 유입",56.60,에스엠,증권사| 음반,"제목 : 에스엠(041510) 소폭 상승세 +3.45%, 외국계 매수 유입 기업개요...",355,...,99.457184,0.520773,2023-01-03,화,0.498727,SM,36,0,36,36
30,202301,2023-01-09 09:34:08,인포스탁,기술,"NHN벅스(104200) +8.25%, 에스엠 +4.47%, 하이브 +4.46%,...",41.75,NHN벅스|에스엠|하이브|알비더블유,음원,"제목 : NHN벅스(104200) +8.25%, 에스엠 +4.47%, 하이브 +4...",604,...,14.307097,85.678200,2023-01-09,월,85.663495,SM,35,23,59,59
31,202301,2023-01-11 13:40:24,인포스탁,기술,에스엠(041510) 소폭 상승세 +3.08%,48.81,에스엠,증권사| NCT| 음반,제목 : 에스엠(041510) 소폭 상승세 +3.08% 기업개요 음악 전문 종합엔터...,333,...,99.814250,0.170685,2023-01-11,수,0.155620,SM,25,0,25,25
32,202301,2023-01-09 17:47:04,한경뉴스,사회,"""엔터 빅4, 콘서트 관객 70% 늘어날 것""",44.10,하이브|JYP Ent.|에스엠|와이지엔터테인먼트,코로나19,국내 대형 연예기획사의 올해 콘서트 관객 수가 코로나19 이전보다 대폭 증가할 것...,878,...,99.826220,0.154867,2023-01-10,화,0.135950,ALL,25,25,25,25
33,202301,2023-01-19 08:15:30,인포스탁,기술,"와이지엔터, 과도한 단일 아티스트 의존도 해소 기대-NH",62.00,와이지엔터테인먼트,블랙핑크| 음원,"제목 : 와이지엔터, 과도한 단일 아티스트 의존도 해소 기대-NH인더뉴스 양귀남 기...",831,...,0.044073,79.941635,2023-01-19,목,59.927339,YG,31,31,0,31
34,202301,2023-01-19 11:32:11,인포스탁,기술,"JYP Ent.(035900) 소폭 상승세 +3.08%, 3거래일 연속 상승",66.07,JYP Ent.,엔터테인먼트| 증권사| 드라마| 트와이스| 광고,"제목 : JYP Ent.(035900) 소폭 상승세 +3.08%, 3거래일 연속 상...",392,...,95.114685,4.842704,2023-01-19,목,4.800095,JYP,42,42,42,0
35,202301,2023-01-02 10:00:53,인포스탁,기술,와이지엔터테인먼트(122870) 강세 출발 +6.27%,65.35,와이지엔터테인먼트,증권사| 음반| 블랙핑크,제목 : 와이지엔터테인먼트(122870) 강세 출발 +6.27% 기업개요 국내 및 ...,398,...,24.985107,75.000810,2023-01-02,월,74.986725,YG,30,30,0,30
36,202301,2023-01-03 09:17:16,인포스탁,기술,하이브(352820) 소폭 상승세 +3.83%,64.86,하이브,엔터테인먼트| BTS| 콘텐츠| 증권사| 방탄소년단| 음악,제목 : 하이브(352820) 소폭 상승세 +3.83% 기업개요 방탄소년단(BTS)...,599,...,14.298976,85.685200,2023-01-03,화,85.669383,HYBE,0,25,25,25
37,202301,2023-01-26 11:05:20,인포스탁,기술,"JYP Ent.(035900) 소폭 상승세 +3.11%, 52주 신고가",77.30,JYP Ent.,엔터테인먼트| 증권사| 광고,"제목 : JYP Ent.(035900) 소폭 상승세 +3.11%, 52주 신고가 기...",387,...,99.117120,0.860299,2023-01-26,목,0.837716,JYP,39,39,39,0
38,202301,2023-01-01 16:20:38,매일경제,정치,"무슨 노래길래…블링컨 국무장관, 블랙핑크 이 노래 꽂혔다",57.00,NaN,블랙핑크| BTS| 음악| 트와이스,토니 블링컨(60) 미국 국무부 장관이 블랙핑크의 노래 ‘셧다운’(Shut Down...,1154,...,24.999182,74.991380,2023-01-02,월,74.981943,YG,31,31,18,31
39,202301,2023-01-03 10:16:59,매일경제,경제,[줄 서는 종목] [2023년 지금부터 1년 맘놓고 가져갈 종목 TOP3],52.01,SK하이닉스|카카오|와이지엔터테인먼트|나무기술|디앤씨미디어,중국| 리오프닝| 미디어| 산업| AI,rn▶ [2023년 지금부터 1년 맘놓고 가져갈 종목 TOP3]은?rnrn<한규수 ...,1459,...,39.971790,59.995045,2023-01-03,화,59.961882,ALL,41,41,41,41
40,202301,2023-01-25 09:48:05,뉴시스,경제,"SM ""이익 20%이상 주주 환원""…'프로듀싱 체제' 개편 내달 발표",52.11,NaN,엔터테인먼트| 금융| 마블,에스엠(SM)엔터테인먼트가 임시 사외이사후보 추천위원회(이하 '임시사추위')를 구...,1360,...,99.935280,0.038320,2023-01-25,수,0.011921,SM,38,0,38,38
41,202301,2023-01-17 07:55:10,머니투데이,기술,"하이브, 2024년 본격적인 성장…중장기 매수 권고-이베스트",57.28,하이브,BTS,이베스트투자증권은 하이브가 내년 본격적인 실적 성장이 가능할 것으로 17일 분석했...,573,...,0.032055,99.958400,2023-01-17,화,99.948849,HYBE,0,33,33,33
42,202301,2023-01-20 14:40:22,머니투데이,기술,"SM엔터 ""지배구조 고치고 순익 20% 주주환원""…얼라인 제안 수용",60.35,에스엠,엔터테인먼트| 자본시장,에스엠엔터테인먼트가 얼라인파트너스자산운용이 제안한 지배구조 개선방안을 수용한다고 ...,1123,...,99.951430,0.032067,2023-01-20,금,0.015562,SM,37,0,37,37
43,202301,2023-01-17 08:51:38,인포스탁,사회,"하이브, 뉴진스 신보 빌보드 Hot 100 진입 예상",55.24,하이브|JYP Ent.|에스엠,BTS| 플랫폼,"제목 : 하이브, 뉴진스 신보 빌보드 Hot 100 진입 예상[인포스탁데일리=윤서연...",1043,...,24.910532,75.016716,2023-01-17,화,74.943967,HYBE,0,29,29,29
44,202301,2023-01-19 09:13:40,인포스탁,기술,하이브(352820) 소폭 상승세 +4.47%,64.82,하이브,엔터테인먼트| 콘텐츠| 증권사| 방탄소년단| BTS| 투모로우바이투게더| 르세라핌| 음악,제목 : 하이브(352820) 소폭 상승세 +4.47% 기업개요 방탄소년단(BTS)...,599,...,14.294385,85.688530,2023-01-19,목,85.671444,HYBE,0,25,25,25
45,202301,2023-01-20 13:34:37,인포스탁,기술,"에스엠(041510) 소폭 상승세 +3.65%, 3거래일 연속 상승",59.92,에스엠,증권사| NCT,"제목 : 에스엠(041510) 소폭 상승세 +3.65%, 3거래일 연속 상승 기업개...",358,...,14.329749,85.658780,2023-01-20,금,85.647309,SM,37,0,37,37
46,202301,2023-01-06 13:39:53,컨슈머타임스,사회,"한터뮤직어워즈, 2차 투표 오픈…""2022년 빛낸 아티스트 뽑는다""",54.09,NaN,글로벌| 방탄소년단| 블랙핑크,김동역 기자 | '30주년 한터뮤직어워즈 2022'가 팬들의 참여 열기를 더욱 끌어...,753,...,45.470330,54.518920,2023-01-06,금,54.508172,ALL,37,37,37,37
47,202301,2023-01-05 09:48:55,뉴시스,경제,'걸그룹 흥행'에 엔터주 동반 강세,50.81,NaN,중국| 음원| 음반| 유튜브,연말 약세장에도 살아남았던 엔터주들이 새해에도 강세를 보이고 있다. 최근 3개월간...,1460,...,0.029976,99.946510,2023-01-05,목,99.922999,ALL,19,19,19,19
48,202301,2023-01-19 08:38:49,뉴시스,경제,"NH證 ""와이지엔터테인먼트, 단일 아티스트 의존도 해소""",65.77,와이지엔터테인먼트,NaN,NH투자증권은 19일 와이지엔터테인먼트에 대해 약점이었던 과도한 단일 아티스트 의...,647,...,7.697579,92.291320,2023-01-19,목,92.280221,YG,31,31,5,31
49,202301,2023-01-26 05:56:45,헤럴드경제,사회,‘하이브 아메리카’ 단독 CEO에 저스틴 비버 키운 스쿠터 브라운,66.35,NaN,BTS| 엔터테인먼트| 글로벌,그룹 방탄소년단(BTS)과 뉴진스 등을 거느린 엔터테인먼트 기업 하이브의 미국 현...,473,...,99.958140,0.026196,2023-01-26,목,0.010528,HYBE,1,36,36,36

In [22]:
news = news.drop(['HYBE_KW_INDEX','SM_KW_INDEX','YG_KW_INDEX','JYP_KW_INDEX'],axis=1)

## COMPANY 변수를 기준으로 데이터 쪼개기

* *****HYBE*****

In [23]:
news_sentiment_hybe = news[(news['COMPANY'] == 'HYBE') | (news['COMPANY'] == 'ALL')]
news_sentiment_hybe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1476 entries, 0 to 2888
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NEWS_YM             1476 non-null   int64
 1   DATE_TIME           1476 non-null   datetime64[ns]
 2   WRITER              1476 non-null   object
 3   SUBCATEGORY         1476 non-null   object
 4   TITLE               1476 non-null   object
 5   IMPORTANCE          1476 non-null   float64
 6   ITEM_NAME           650 non-null    object
 7   TAG_LIST            1206 non-null   object
 8   PARSED CONTENT      1476 non-null   object
 9   LENGTH_SUM          1476 non-null   int64
 10  SUMMARY             1476 non-null   object
 11  SUMMARY_2           1476 non-null   object
 12  SENTIMENT_NEGATIVE  1476 non-null   float64
 13  SENTIMENT_NEUTRAL   1476 non-null   float64
 14  SENTIMENT_POSITIVE  1476 non-null   float64
 15  DATE_NEW            1476 non-null   datetime64[ns]
 16  DAY                 1476 non-null   object
 17  SENTIMENT           1476 non-null   float64
 18  COMPANY             1476 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 230.6+ KB

* *****SM*****

In [24]:
news_sentiment_sm = news[(news['COMPANY'] == 'SM') | (news['COMPANY'] == 'ALL')]
news_sentiment_sm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1496 entries, 1 to 2887
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NEWS_YM             1496 non-null   int64
 1   DATE_TIME           1496 non-null   datetime64[ns]
 2   WRITER              1496 non-null   object
 3   SUBCATEGORY         1496 non-null   object
 4   TITLE               1496 non-null   object
 5   IMPORTANCE          1496 non-null   float64
 6   ITEM_NAME           817 non-null    object
 7   TAG_LIST            1105 non-null   object
 8   PARSED CONTENT      1496 non-null   object
 9   LENGTH_SUM          1496 non-null   int64
 10  SUMMARY             1496 non-null   object
 11  SUMMARY_2           1496 non-null   object
 12  SENTIMENT_NEGATIVE  1496 non-null   float64
 13  SENTIMENT_NEUTRAL   1496 non-null   float64
 14  SENTIMENT_POSITIVE  1496 non-null   float64
 15  DATE_NEW            1496 non-null   datetime64[ns]
 16  DAY                 1496 non-null   object
 17  SENTIMENT           1496 non-null   float64
 18  COMPANY             1496 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 233.8+ KB

* *****YG*****

In [25]:
news_sentiment_yg = news[(news['COMPANY'] == 'YG') | (news['COMPANY'] == 'ALL')]
news_sentiment_yg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669 entries, 1 to 2887
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NEWS_YM             669 non-null    int64
 1   DATE_TIME           669 non-null    datetime64[ns]
 2   WRITER              669 non-null    object
 3   SUBCATEGORY         669 non-null    object
 4   TITLE               669 non-null    object
 5   IMPORTANCE          669 non-null    float64
 6   ITEM_NAME           361 non-null    object
 7   TAG_LIST            607 non-null    object
 8   PARSED CONTENT      669 non-null    object
 9   LENGTH_SUM          669 non-null    int64
 10  SUMMARY             669 non-null    object
 11  SUMMARY_2           669 non-null    object
 12  SENTIMENT_NEGATIVE  669 non-null    float64
 13  SENTIMENT_NEUTRAL   669 non-null    float64
 14  SENTIMENT_POSITIVE  669 non-null    float64
 15  DATE_NEW            669 non-null    datetime64[ns]
 16  DAY                 669 non-null    object
 17  SENTIMENT           669 non-null    float64
 18  COMPANY             669 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 104.5+ KB

* *****JYP*****

In [26]:
news_sentiment_jyp = news[(news['COMPANY'] == 'JYP') | (news['COMPANY'] == 'ALL')]
news_sentiment_jyp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 628 entries, 1 to 2887
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NEWS_YM             628 non-null    int64
 1   DATE_TIME           628 non-null    datetime64[ns]
 2   WRITER              628 non-null    object
 3   SUBCATEGORY         628 non-null    object
 4   TITLE               628 non-null    object
 5   IMPORTANCE          628 non-null    float64
 6   ITEM_NAME           280 non-null    object
 7   TAG_LIST            567 non-null    object
 8   PARSED CONTENT      628 non-null    object
 9   LENGTH_SUM          628 non-null    int64
 10  SUMMARY             628 non-null    object
 11  SUMMARY_2           628 non-null    object
 12  SENTIMENT_NEGATIVE  628 non-null    float64
 13  SENTIMENT_NEUTRAL   628 non-null    float64
 14  SENTIMENT_POSITIVE  628 non-null    float64
 15  DATE_NEW            628 non-null    datetime64[ns]
 16  DAY                 628 non-null    object
 17  SENTIMENT           628 non-null    float64
 18  COMPANY             628 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 98.1+ KB

## 엑셀 파일로 저장

In [27]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/news_classified_hybe.xlsx'
news_sentiment_hybe.to_excel(excel_filename, index=False)

In [28]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/news_classified_sm.xlsx'
news_sentiment_sm.to_excel(excel_filename, index=False)

In [29]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/news_classified_yg.xlsx'
news_sentiment_yg.to_excel(excel_filename, index=False)

In [30]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/news_classified_jyp.xlsx'
news_sentiment_jyp.to_excel(excel_filename, index=False)

# 날짜별 감정지수 변수 데이터프레임 생성

## HYBE

### 날짜별로 감정지수 변수 값 총합 구하기

In [31]:
news_sentiment_hybe.head(1) # 작업 전 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT,COMPANY
0,202303,2023-03-03 13:40:44,매일경제,기술,"하이브의 SM 인수, '적대적 M&A' 성격 두고 방시혁·SM 충돌",29.27,NaN,의사| 독점,방시혁 하이브 의장이 미국 CNN 방송에 출연해 SM엔터테인먼트 인수전을 적대적 M...,2326,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지난 2월 10일 지분인수 발...,해외 언론 인터뷰를 통해 방 의장의 입장이 알려진 건 지분인수 발표 당일 이수만 전...,95.182945,4.809798,0.007258,2023-03-03,금,-95.175687,HYBE

In [32]:
# 'DATE_NEW'를 기준으로 그룹화하여 'SENTIMENT'의 합 계산
hybe_df = news_sentiment_hybe.groupby('DATE_NEW').agg({'SENTIMENT': 'sum', 'DAY': 'first'}).reset_index()

# 열 이름 변경
hybe_df = hybe_df.rename(columns={'DATE_NEW': 'DATE', 'SENTIMENT': 'SENTIMENT_SUM', 'DAY': 'DAY'})

In [33]:
# 결과 출력
hybe_df

          DATE  SENTIMENT_SUM DAY
0   2023-01-02     233.751368   월
1   2023-01-03     181.407140   화
2   2023-01-04     381.612804   수
3   2023-01-05     558.004627   목
4   2023-01-06     413.298417   금
..         ...            ...  ..
121 2023-06-20     229.447152   화
122 2023-06-21      74.912883   수
123 2023-06-22     664.385349   목
124 2023-06-23     164.706250   금
125 2023-06-26     207.374089   월

[126 rows x 3 columns]

### 월요일의 감정지수 변수는 3으로 나눠주기

In [34]:
for i in range(len(hybe_df)):
    if hybe_df['DAY'].iloc[i] == '월':
        hybe_df['SENTIMENT_SUM'].iloc[i] = (hybe_df['SENTIMENT_SUM'].iloc[i])/3

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2116828930.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hybe_df['SENTIMENT_SUM'].iloc[i] = (hybe_df['SENTIMENT_SUM'].iloc[i])/3

In [35]:
# 결과 확인 
hybe_df

          DATE  SENTIMENT_SUM DAY
0   2023-01-02      77.917123   월
1   2023-01-03     181.407140   화
2   2023-01-04     381.612804   수
3   2023-01-05     558.004627   목
4   2023-01-06     413.298417   금
..         ...            ...  ..
121 2023-06-20     229.447152   화
122 2023-06-21      74.912883   수
123 2023-06-22     664.385349   목
124 2023-06-23     164.706250   금
125 2023-06-26      69.124696   월

[126 rows x 3 columns]

## SM
### 날짜별로 감정지수 변수 값 총합 구하기

In [36]:
news_sentiment_sm.head(1) # 작업 전 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT,COMPANY
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.03598,99.93955,2023-04-14,금,99.915081,ALL

In [37]:
# 'DATE_NEW'를 기준으로 그룹화하여 'SENTIMENT'의 합 계산
sm_df = news_sentiment_sm.groupby('DATE_NEW').agg({'SENTIMENT': 'sum', 'DAY': 'first'}).reset_index()

In [38]:
# 열 이름 변경
sm_df = sm_df.rename(columns={'DATE_NEW': 'DATE', 'SENTIMENT': 'SENTIMENT_SUM', 'DAY': 'DAY'})

# 결과 출력
sm_df

          DATE  SENTIMENT_SUM DAY
0   2023-01-02     242.321497   월
1   2023-01-03     181.916077   화
2   2023-01-04      21.082685   수
3   2023-01-05     277.915244   목
4   2023-01-06     318.234971   금
..         ...            ...  ..
120 2023-06-20     169.185466   화
121 2023-06-21      74.912883   수
122 2023-06-22     159.179436   목
123 2023-06-23      12.319740   금
124 2023-06-26     282.396226   월

[125 rows x 3 columns]

### 월요일의 감정지수 변수는 3으로 나눠주기

In [39]:
for i in range(len(sm_df)):
    if sm_df['DAY'].iloc[i] == '월':
        sm_df['SENTIMENT_SUM'].iloc[i] = (sm_df['SENTIMENT_SUM'].iloc[i])/3

# 결과 확인 
sm_df

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/1946809480.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sm_df['SENTIMENT_SUM'].iloc[i] = (sm_df['SENTIMENT_SUM'].iloc[i])/3

          DATE  SENTIMENT_SUM DAY
0   2023-01-02      80.773832   월
1   2023-01-03     181.916077   화
2   2023-01-04      21.082685   수
3   2023-01-05     277.915244   목
4   2023-01-06     318.234971   금
..         ...            ...  ..
120 2023-06-20     169.185466   화
121 2023-06-21      74.912883   수
122 2023-06-22     159.179436   목
123 2023-06-23      12.319740   금
124 2023-06-26      94.132075   월

[125 rows x 3 columns]

## YG
### 날짜별로 감정지수 변수 값 총합 구하기

In [40]:
news_sentiment_yg.head(1) # 작업 전 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT,COMPANY
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.03598,99.93955,2023-04-14,금,99.915081,ALL

In [41]:
# 'DATE_NEW'를 기준으로 그룹화하여 'SENTIMENT'의 합 계산
yg_df = news_sentiment_yg.groupby('DATE_NEW').agg({'SENTIMENT': 'sum', 'DAY': 'first'}).reset_index()

# 열 이름 변경
yg_df = yg_df.rename(columns={'DATE_NEW': 'DATE', 'SENTIMENT': 'SENTIMENT_SUM', 'DAY': 'DAY'})

# 결과 출력
yg_df

          DATE  SENTIMENT_SUM DAY
0   2023-01-02     378.083107   월
1   2023-01-03     119.020563   화
2   2023-01-04     209.513567   수
3   2023-01-05     277.915244   목
4   2023-01-06     269.611104   금
..         ...            ...  ..
121 2023-06-20     169.185466   화
122 2023-06-21      74.912883   수
123 2023-06-22     159.179436   목
124 2023-06-23      72.412366   금
125 2023-06-26     282.396226   월

[126 rows x 3 columns]

### 월요일의 감정지수 변수는 3으로 나눠주기

In [42]:
for i in range(len(sm_df)):
    if yg_df['DAY'].iloc[i] == '월':
        yg_df['SENTIMENT_SUM'].iloc[i] = (yg_df['SENTIMENT_SUM'].iloc[i])/3

# 결과 확인 
yg_df

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2886694626.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yg_df['SENTIMENT_SUM'].iloc[i] = (yg_df['SENTIMENT_SUM'].iloc[i])/3

          DATE  SENTIMENT_SUM DAY
0   2023-01-02     126.027702   월
1   2023-01-03     119.020563   화
2   2023-01-04     209.513567   수
3   2023-01-05     277.915244   목
4   2023-01-06     269.611104   금
..         ...            ...  ..
121 2023-06-20     169.185466   화
122 2023-06-21      74.912883   수
123 2023-06-22     159.179436   목
124 2023-06-23      72.412366   금
125 2023-06-26     282.396226   월

[126 rows x 3 columns]

## JYP
### 날짜별로 감정지수 변수 값 총합 구하기

In [43]:
news_sentiment_jyp.head(1) # 작업 전 확인

,NEWS_YM,DATE_TIME,WRITER,SUBCATEGORY,TITLE,IMPORTANCE,ITEM_NAME,TAG_LIST,PARSED CONTENT,LENGTH_SUM,SUMMARY,SUMMARY_2,SENTIMENT_NEGATIVE,SENTIMENT_NEUTRAL,SENTIMENT_POSITIVE,DATE_NEW,DAY,SENTIMENT,COMPANY
1,202304,2023-04-14 09:22:37,eDaily,경제,"[특징주]엔터株, K-팝 약진 속 일제히 강세",27.41,JYP Ent.|하이브|와이지엔터테인먼트|에스엠,NaN,[이데일리 이용성 기자] 올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객...,2332,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,올해 2분기 국내 엔터주들의 합산 앨범판매량과 콘서트 관객수 모두 역대 최대 분기를...,0.024469,0.03598,99.93955,2023-04-14,금,99.915081,ALL

In [44]:
# 'DATE_NEW'를 기준으로 그룹화하여 'SENTIMENT'의 합 계산
jyp_df = news_sentiment_jyp.groupby('DATE_NEW').agg({'SENTIMENT': 'sum', 'DAY': 'first'}).reset_index()

# 열 이름 변경
jyp_df = jyp_df.rename(columns={'DATE_NEW': 'DATE', 'SENTIMENT': 'SENTIMENT_SUM', 'DAY': 'DAY'})

# 결과 출력
jyp_df

          DATE  SENTIMENT_SUM DAY
0   2023-01-02      75.025892   월
1   2023-01-03     175.724840   화
2   2023-01-04      21.097298   수
3   2023-01-05     277.915244   목
4   2023-01-06     393.110160   금
..         ...            ...  ..
119 2023-06-20     169.198873   화
120 2023-06-21      74.912883   수
121 2023-06-22     159.179436   목
122 2023-06-23     147.327727   금
123 2023-06-26     282.396226   월

[124 rows x 3 columns]

### 월요일의 감정지수 변수는 3으로 나눠주기

In [45]:
for i in range(len(jyp_df)):
    if jyp_df['DAY'].iloc[i] == '월':
        jyp_df['SENTIMENT_SUM'].iloc[i] = (jyp_df['SENTIMENT_SUM'].iloc[i])/3

# 결과 확인 
jyp_df

/var/folders/4t/dyhc70gd7zjdwxdh7x7f77240000gn/T/ipykernel_14969/2051178185.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jyp_df['SENTIMENT_SUM'].iloc[i] = (jyp_df['SENTIMENT_SUM'].iloc[i])/3

          DATE  SENTIMENT_SUM DAY
0   2023-01-02      25.008631   월
1   2023-01-03     175.724840   화
2   2023-01-04      21.097298   수
3   2023-01-05     277.915244   목
4   2023-01-06     393.110160   금
..         ...            ...  ..
119 2023-06-20     169.198873   화
120 2023-06-21      74.912883   수
121 2023-06-22     159.179436   목
122 2023-06-23     147.327727   금
123 2023-06-26      94.132075   월

[124 rows x 3 columns]

# 엑셀 파일로 저장

In [46]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/sentiment_hybe.xlsx'
hybe_df.to_excel(excel_filename, index=False)

In [47]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/sentiment_sm.xlsx'
sm_df.to_excel(excel_filename, index=False)

In [48]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/sentiment_yg.xlsx'
yg_df.to_excel(excel_filename, index=False)

In [49]:
# 엑셀 파일로 저장 
excel_filename = '../../../data/News/sentiment_jyp.xlsx'
jyp_df.to_excel(excel_filename, index=False)